.video{
    text-align: center;
    margin: auto;
    
}
.content .title{
    padding-bottom: 20px;
    margin-left: 20px;
}

.video iframe{
    width :1000px;
     height: 500px;
     
}
iframe {
    border: 0;
}